<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Ejercicio 2 Eldar</title>
</head>
<body>
    <main>
        <h1>Calculate interest rate</h1>
        <h3 class="one" id="one">Brand</h3>
        <input id="brand" type="text" class="input one">
        <h3 class="two" id="two">Amount</h3>
        <input id="amount" type="number" class="input two">
        <h3 class="three" id="three">Rates: </h3>
        <button onclick="check()">CALCULATE</button>
    </main>
    <script th:href="@{/js/scripts.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>